* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #92bfe4;
}

.tituloMain {
  background-color: #43807E;
  color: #f8f9fa !important;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  padding: 15px;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #92bfe4;
  width: 100vw;
  padding: 20px 0;
  margin-bottom: -20px;
}

.containerMain {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  background-color: #43807E;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #0E4342;
  color: white;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
}

.botonCrear {
  background-color: #0E4342;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.botonCrear:hover {
  background-color: #07292E;
  color: #ffffff;
  text-decoration: none;
}

/* Paginador */
.paginador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.paginador button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background-color: #0E4342;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.paginador button:hover:not(:disabled) {
  background-color: #07292E;
}

.paginador span {
  font-weight: bold;
  color: #fff;
}

/* Quitar el borde azul al hacer click */
.paginador button:focus {
  outline: none;
  
}
